.Footer {
    text-align: center;
    font-size: 10px;
    color: bisque;
    border: 0.5em black solid;
    box-shadow : 6px 3px 4px black;
    border-radius: 10px / 10 px;
    background-color: rgb(88, 97, 255);
    position: absolute;
    width: 50%;
    bottom: 0;
}