.footer {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 8px;
    letter-spacing: 2px;
    position: relative;
    background-color: #5320e2;
    border: none;
    color: #fff;
    padding: 20px;
    width: 100%;
    transition-duration: 0.4s;
    overflow:auto;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    bottom:0;
}